<ion-footer class="ion-no-border">
  <ion-toolbar>
    <ion-tabs>
      <ion-tab-bar slot="bottom" color="success - shade">
        <ion-button class="ion-margin-horizontal" color="transparent" [routerLink]="['/home']">
          <ion-icon src="../assets/img/home.svg"></ion-icon>
        </ion-button> 
        <ion-button class="ion-margin-horizontal" color="transparent" [routerLink]="['/challenges']">
          <ion-icon src="../assets/img/challenge.svg"></ion-icon>
        </ion-button>
        <ion-button class="ion-margin-horizontal" color="transparent" [routerLink]="['/donations']">
          <ion-icon src="../assets/img/donate.svg"></ion-icon>
        </ion-button>  
        <ion-button class="ion-margin-horizontal" color="transparent" (click)="authService.SignOut()">          <ion-icon src="../assets/img/perfil.svg"></ion-icon>
        </ion-button> 
      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>
</ion-footer>
