<ion-footer translucent="true" class="icon-footer">
  <ion-grid>
    <ion-row justify-content-around>
      <ion-col>
        <ion-button color="success - shade" expand="block" fill="solid" [disabled]="internetDisable">
          <img src="../../assets/img/home.png" style="width : 80% ; height : 80%">
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button color="success - shade" expand="block" fill="solid" [disabled]="internetDisable">
          <img src="../../assets/img/perfil.png" style="width : 80% ; height : 80%">
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button color="success - shade"expand="block" fill="solid" [disabled]="internetDisable">
          <img src="../../assets/img/challenge.png" style="width : 80% ; height : 80%">
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button color="success - shade" expand="block" fill="solid" [disabled]="internetDisable">
          <img src="../../assets/img/donation.png" style="width : 80% ; height : 80%">
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>
