<ion-header>
  <ion-toolbar color="success - shade">
    <ion-title class="ion-text-center" size="large">challenges</ion-title>
  </ion-toolbar>
</ion-header>
<ion-list>
  <ion-item>
  <ion-avatar slot="start">
    <img src="../assets/img/reto1s.svg">
  </ion-avatar>
  <ion-label [routerLink]="['/daily-challenge']" class="ion-text-center">Daily Challenge</ion-label>
  </ion-item>
  <ion-item>
    <ion-avatar slot="start">
      <img src="../assets/img/reto2s.svg">
    </ion-avatar>
    <ion-label [routerLink]="['/check-my-tree']" class="ion-text-center">Check My Tree</ion-label>
    </ion-item>
</ion-list>
<ion-content>
  <app-footer></app-footer>
</ion-content>
