<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-avatar>
            <ion-img src="https://content.api.news/v3/images/bin/a6923adbc7bece73803221613f410782"></ion-img>
          </ion-avatar>
          <ion-label>
            <ion-label>
              <ion-title style="text-align: center;">Score</ion-title>
            </ion-label>
            <ion-progress-bar value="0.5" color="secondary"></ion-progress-bar>
          </ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-toolbar>
        <ion-title size="large" style="text-align: left;">Treellenges</ion-title>
      </ion-toolbar>
      <ion-slides>
        <ion-slide *ngFor="let val of data">
          <ion-card>
            <ion-card-header>
              <ion-card-title>
                {{val.titulo}}
              </ion-card-title>
              <ion-card-content>
                <ion-img [src]="val.imgURL"></ion-img>
                <ion-text>
                  <p>
                    {{val.description}}
                  </p>
                </ion-text>
              </ion-card-content>
            </ion-card-header>
          </ion-card>
        </ion-slide>
      </ion-slides>
    </ion-row>
    <ion-row>
      <ion-toolbar>
        <ion-title size="large" style="text-align: left;">Treetips</ion-title>
      </ion-toolbar>
      <ion-slides>
        <ion-slide *ngFor="let val of data1">
          <ion-card>
            <ion-card-header>
              <ion-card-title>
                {{val.titulo}}
              </ion-card-title>
              <ion-card-content>
                <ion-img [src]="val.imgURL" style="width: 150px;"></ion-img>
              </ion-card-content>
            </ion-card-header>
          </ion-card>
        </ion-slide>
      </ion-slides>
    </ion-row>
  </ion-grid>
  <app-footer></app-footer>
</ion-content>
