ion-content{
  --ion-background-color:#f8fcfb!important;
}

ion-footer{
  --ion-background-color:#f8fcfb!important;
  background-color: #f8fcfb!important;
}

.treellenge-icon{
height: 35vh;
width: auto;
margin: auto;
display: block;
}

ion-slide {
display: block;
color: black;
--ion-background-color:#f8fcfb;
}

.slide-img-padding {
padding: 35px;
}

h3 {
font-size: 30px;
font-weight: lighter;
margin-bottom: 40px;
}

.centrado{
  text-align: center;
}