<ion-content>
  <ion-row style="margin-top: 30vh;">
    <ion-col>
      <img src="../../assets/img/logosvg.svg" height="300px" class="treellenge-icon">
    </ion-col>
  </ion-row>
  <ion-footer class="ion-no-border">
    <ion-row>
      <ion-col>
        <ion-button style="margin-left: 32px; margin-right: 32px;" expand="block" size="large" class="ion-margin-top">Loging</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button style="margin-left: 32px; margin-right: 32px; color: white !important;" expand="block" size="large" class="ion-margin-top" fill="outline">Register</ion-button>
      </ion-col>
    </ion-row>
  </ion-footer>
</ion-content>
