<ion-content>


  <ion-slides pager="true">

    <ion-slide *ngFor="let slide of slides">

      <div class="slide-img-padding">
        <img [src]="slide.img">
      </div>
      <div>
        <h3>{{ slide.title }}</h3>
      </div>

    </ion-slide>

    <ion-slide>
      <ion-row style="margin-top: 30%;">
        <ion-col>
          <img src="../../assets/img/logosvg.svg" height="300px" class="treellenge-icon">
        </ion-col>
      </ion-row>
    </ion-slide>

  </ion-slides>
</ion-content>
<ion-footer class="ion-no-border">
  <ion-grid fixed>
    <form>
      <ion-row>
        <ion-col class="centrado">
          <ion-button type="submit" shape="round" (click)="authService.GoogleAuth()" class="ion-margin-top">
            Sign In with Google
          </ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="ion-text-center">
          <ion-router-link color="white" [routerLink]="['/home']">Continue without login</ion-router-link>
        </ion-col>
      </ion-row>
    </form>

  </ion-grid>

</ion-footer>